body{
    background-color: #e1621d;
}

#imgtva{
    position:absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.p{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    color: #ffbc93;
}

#titre_bloc{
    text-align: center;
    margin:auto;
    color: #ffbc93;
    font-size: 20px;
}

html {
    scroll-behavior: smooth; /*Lissage du scrolling de la page*/
}


a{
    color: inherit;
    text-decoration: underline;
}


.bloc{
    max-width: 70%;
    width:100%;
    height:fit-content;
    text-align:justify;
    padding: 10px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
}


.bloc-hover {
    transform: translateY(-10px); /* Surélévation de 5 pixels vers le haut */
}





.bloc_titre{
    width:fit-content;
    height:fit-content;
    text-align:justify;
    padding: 10px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
}

#bouton_login{
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    font-size: 16px;
    color: white;
}

.bouton_lien {
    position: absolute;
    right: 25px;
    top:15px;
    width: 120px;
    height: 35px;
    background-color: #5f2c14;
    border: none;
    border-radius: 20px;
    padding:3px;
    cursor:pointer;
    scale: 1.2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);;
    transition: transform 0.3s; /* Ajout d'une transition pour une animation fluide */
}


.bouton_lien_hover{
    transform:scale(1.1);
}


.logo_site{
    display: flex;
    position:center;
    top: -10px;
    justify-content: center; /* Centre horizontalement */
}


/*Style page login*/
.bloc_login{
    position: relative;
    top: 200px;
    /*justify-content: center;*/
    width:270px;
    padding: 30px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /*text-align: center;*/
}

.bouton_commit { /*Bouton login*/
    position:relative;
    padding:5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    display: block;
    top: 8px;
    margin: 0 auto;

}

#errorText{
    text-align: center;
}

#password{
    position: relative;
    left: 43px;
}

#username{
    position: relative;
    left: 43px;
}

.form-group{
    /*justify-items: center;*/
    margin: 10px;
}


.form-group i{
    position: relative;
    left: +43px;
    top: +2px;
}


.form-group input{
    width: 150px;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

input{
    text-align: center;
}

::placeholder{
    text-align: center;
}

.bouton_commit{
    border: none;
    border-radius: 20px;
    width: 90px;
}

.bouton_commit:active{
    transform: translateY(2px);
}


#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1621d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /*Placement du div devant tous les autres*/
}

#loader-text {
    font-size: 24px;
    color: white;
    text-align: center;
}

#loading_gif{
    width: 40px;
    position: fixed;
    transform:translateY(40px)

}

/*Style du menu d'actualités*/

section {
    width: 350px;
    margin: auto;
    padding: 20px;
    overflow-y: auto; /* Ajout de l'overflow-y pour permettre le défilement vertical si nécessaire */
    max-height: 230px; /* Définissez la hauteur maximale à partir de laquelle le défilement est activé */

}

article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.actualite{
    position: absolute;
    right: 2%;
    background-color: rgb(180, 128, 128);
    width:fit-content;
    height: fit-content;
    border-radius: 10px;

}

.bloc_info{
    transform: translateY(-15px);
    width:300px;
    height:fit-content;
    padding: 10px;
    margin: 20px auto;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
}

.titre_actualite{
    text-align: center;
    font-size: 22px;
    color:  #ffbc93;
    margin: 5px;
    font-weight: bold;
}

.texte_actualite{
    color: white;
}