body{
    background-color: #e1621d;
}

#titre_bloc{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin:auto;
    color: #ffbc93;
    font-size: 20px;
}

html {
    scroll-behavior: smooth; /*Lissage du scrolling de la page*/
}


a{
    color: inherit;
    text-decoration: underline;
}


.bloc{
    max-width: 70%;
    width:100%;
    height:fit-content;
    text-align:justify;
    padding: 10px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
}


.bloc-hover {
    transform: translateY(-10px); /* Surélévation de 5 pixels vers le haut */
}


h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    color: #ffbc93;
}


.bloc_titre{
    width:fit-content;
    height:fit-content;
    text-align:justify;
    padding: 10px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
}


.bouton_lien {
    position: absolute;
    right: 25px;
    top:15px;
    background-color: #e57940;
    border: 3px solid #5f2c14;
    border-radius: 5px;
    padding:3px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    scale: 1.2;
    transition: transform 0.3s; /* Ajout d'une transition pour une animation fluide */
}


.bouton_lien_hover{
    transform:scale(1.1);
}


.logo_site{
    display: flex;
    position:center;
    top: -10px;
    justify-content: center; /* Centre horizontalement */
}

.bouton_commit {
    position: relative;
    align-self:center;
    top:10px;
    border-radius: 5px;
    padding:5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    cursor:pointer;

}

/*Style page login*/
.bloc_login{
    justify-content: center;
    width:300px;
    padding: 10px;
    margin: 30px auto;
    color: white;
    background-color: #5f2c14;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s; /* Ajout d'une transition pour une animation fluide */
    flex-direction: column;
    text-align: center;
}


.form-group{
    justify-items: center;
    margin: 10px;
}


.form-group i{
    transform: translateY(10%);
}


.form-group input{
    width: 150px;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    border: none;
}

input{
    text-align: center;
}

::placeholder{
    text-align: center;
}

.bouton_commit{
    border: none;
    border-radius: 20px;
    width: 90px;
}

.bouton_commit:active{
    transform: translateY(2px);
}